.header__lang {
    font-size: 1.5rem;
    line-height: 1.75rem;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-column-gap: 1.125rem;
    list-style-type: none;
}

@media all and (max-width: 320px) {
    .header__lang {
        font-size: 18px;
        line-height: 20px;
    }
}