.intro__text {
    width: 100%;
    max-width: 690px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 163%;
    margin: 0 0 2.0625rem;
}

@media all and (max-width: 1023px) {
    .intro__text {
        max-width: 720px;
    }
}

@media all and (max-width: 767px) {
    .intro__text {
        max-width: 288px;
    }
}