.cover__subtitle {
    margin: 0 auto;
    max-width: 360px;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    z-index: 1;
}

@media all and (min-width: 320px) and (max-width: 767px) {
    .cover__subtitle {
        width: calc(320px - 0.004464 * (767px - 100vw));
        font-size: 14px;
        line-height: 114%;
    }
}